body, html {
  font-family: 'Saira Semi Condensed', sans-serif;
  height: 100%;
}
/*-- Set html & each section -> height: 100% -> then section fill 100% --*/


/*------------------------ NAVBAR ------------------------*/
.navbar {
  background-color: rgba(21, 32, 33, 0.5);
  border-bottom: 1px solid #dedede;
}

.navbar .navbar-nav .nav-link {
  color: #d1d1d1;
}

.navbar .navbar-nav .nav-link:hover {
  color: #fe5656;
}

/*-- Navbar Icon for Mobile --*/
.navbar-toggler-icon {
  color: #ffffff;
}


/*------------------------ 1. HEADER ------------------------*/
#header {
  background: url(../img/stars-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100%;
  color: #ffffff;
  /*-- Bootstrap4 -> flexbox options added: set display & align-items --*/
  display: flex;
  align-items: center;
}

#header img {
  padding: 0 0 20px 0;
  width: 80%;
}

#header .header-right {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 10px;
}

#header .fa {
  margin: 5% 0;
}

#header a .fa {
  color: #ffffff;
}

#header a .fa:hover {
  color: #fe5656;
}

#header .btn-red {
  color: #fe5656;
  border: 2px solid #fa4848;
  border-radius: 30px;
}

#header .btn-red:hover {
  background-color: #fe5656;
  border: 2px solid #fa4848;
  color: #ffffff;
  cursor: pointer;
}

/*-------------- HEADER: Media Queries --------------*/
@media (max-width: 768px) {
  #header {
    text-align: center;
  }
  #header img {
    margin: 0 auto;
  }
}


/*------------------------ 2. SOCIAL ------------------------*/
#social {
  padding: 5rem 0;
}

#social .fa {
  font-size: 2.5em;
  color: #fe5656;
  border: 2px solid #fe5656;
  width: 70px;
  height: 70px;
  border-radius: 20%;
  text-align: center;
  padding: 15px;
  margin-top: 25px;
  transition: all 0.4s ease-in-out; /* More Interactive For the User */
}

#social .fa:hover {
  color: #ffffff;
  background-color: #fe5656;
}

#social .list-inline {
  text-align: center; /* Make icons in the middle of the col */
}

/*-------------- SOCIAL: Media Queries --------------*/
@media (max-width: 768px) {
  #social {
    text-align: center;
  }
  #social hr {
    margin: 6% auto; /* auto -> equal on either side */
  }
}


/*------------------------ 3. WHO ------------------------*/
#who {
  padding: 5rem 0;
  background-color: #f6f6f6;
}

#who .btn-who {
  background-color: #fe5656;
  color: #ffffff;
  padding: 10px 50px;
  border-radius: 30px;
  box-shadow: 0px 2.5px 2px 2.5px #a1a1a1;
  transition: all 0.4s ease-in-out;
}

#who .btn-who:hover {
  transition: all 0.4s ease-in-out;
  background-color: transparent;
  border: 1.5px solid #fe5656;
  color: #fe5656;
  cursor: pointer;
}







/*--------------- Footer Section ---------------*/
footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1d1d1d;
  color: white;
  padding: 20px 0;
  margin: 0 auto;
}
